.load{
    position:fixed;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    Top:50%;
    Left:20%;
    animation: fade .2s;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

@keyframes fade{
    0% {
        color: #FFFFFF;
    }

    50% {
        color: #f17777;
    }

    100% {
        color: #FFFFFF;
    }
}